### PROJECT ###
HELP.md
target/
build/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
out/
rebel.xml
.gradle
.dart_tool


### STS ###
.DS_Store
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Node.js ###
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Flutter ###
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

### Android Studio ###
/android/app/debug
/android/app/profile
/android/app/release
